<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.caemandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.caemandroid.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.caemandroid.permission.C2D_MESSAGE" />

    <!--
<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
<uses-permission android:name="android.permission.WAKE_LOCK"/>
<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />  
<uses-permission android:name="android.permission.USE_CREDENTIALS" /> 
<permission android:name="com.example.caemandroid.permission.C2D_MESSAGE" android:protectionLevel="signature" />
<uses-permission android:name="com.example.caemandroid.permission.C2D_MESSAGE"/>
    -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--
<receiver android:name="com.microsoft.windowsazure.notifications.NotificationsBroadcastReceiver"
    android:permission="com.google.android.c2dm.permission.SEND">
    <intent-filter>
        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        <category android:name="com.example.caemandroid" />
    </intent-filter>
</receiver>
        -->
        <activity
            android:name="caemandroid.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="caemandroid.activities.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="caemandroid.activities.WelcomeScreenActivity"
            android:label="@string/title_activity_welcome_screen" >
        </activity>
        <activity
            android:name="caemandroid.activities.PlacesActivity"
            android:label="@string/title_activity_places" >
        </activity>
        <activity
            android:name="caemandroid.activities.EventsActivity"
            android:label="@string/title_activity_events" >
        </activity>
        <activity
            android:name="caemandroid.activities.NotificationsActivity"
            android:label="@string/title_activity_notifications" >
        </activity>
        <activity
            android:name="caemandroid.activities.UserLocationsActivity"
            android:label="@string/title_activity_user_locations" >
        </activity>
        <activity
            android:name="caemandroid.activities.PlaceDetailActivity"
            android:label="@string/title_activity_place_detail" >
        </activity>
        <activity
            android:name="caemandroid.activities.EventDetailActivity"
            android:label="@string/title_activity_event_detail" >
        </activity>
        <activity
            android:name="caemandroid.activities.OwnerActivity"
            android:label="@string/title_activity_owner" >
        </activity>
        <activity
            android:name="caemandroid.activities.CreateEventActivity"
            android:label="@string/title_activity_create_event" >
        </activity>
        <activity
            android:name="caemandroid.activities.RegistrationsListActivity"
            android:label="@string/title_activity_registrations_list" >
        </activity>
        <activity
            android:name="caemandroid.activities.CreateInterestActivity"
            android:label="@string/title_activity_create_interest" >
        </activity>
        <activity
            android:name="caemandroid.activities.UserInterestsActivity"
            android:label="@string/title_activity_user_interests" >
        </activity>

        <receiver
            android:name="caemandroid.http.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.caemandroid" />
            </intent-filter>
        </receiver>

        <service
            android:name="caemandroid.http.GcmIntentService"
            android:enabled="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="caemandroid.activities.EventTagsActivity"
            android:label="@string/title_activity_event_tags" >
        </activity>
        <activity
            android:name="caemandroid.activities.CreatePlaceActivity"
            android:label="@string/title_activity_create_place" >
        </activity>
        <activity
            android:name="caemandroid.activities.PlaceTagsActivity"
            android:label="@string/title_activity_place_tags" >
        </activity>
    </application>

</manifest>
